@media screen and (max-width: 576px) {
  .main-weather-div {
    padding: 24px;
  }

  .location-date {
    font-size: 14px;
  }

  #weather .weather-widget {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .country-info {
    margin: auto;
    margin-top: 2rem;
    width: 75%;
  }

  nav .navbar-nav {
    margin-left: 0px;
  }

  header {
    background: white;
    height: 100vh;
  }

  header .img-wrap {
    display: block;
    position: absolute;
    bottom: 0px;
  }

  header::after {
    content: "";
    position: absolute;
    background-color: #b1aef3;
    width: 100%;
    height: 150vh;
    z-index: 1;
  }

  header input {
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
    margin: auto;
    width: 90%;
  }

  header input.form-control#location {
    width: 80%;
    margin: auto;
  }

  header .btn {
    right: 12%;
  }
}

@media screen and (min-width: 576px) {
  .main-weather-div {
    padding: 24px;
  }

  .location-date {
    font-size: 15px;
  }

  .country-info {
    margin: auto;
    width: 75%;
    margin-top: 2rem;
  }

  nav .navbar-nav {
    margin-left: 0px;
  }

  header {
    background: white;
    height: 130vh;
  }

  header .img-wrap {
    display: block;
    position: absolute;
    bottom: 0px;
  }

  header::after {
    content: "";
    position: absolute;
    background-color: #b1aef3;
    width: 100%;
    height: 150vh;
    z-index: 1;
  }

  header input {
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
    margin: auto;
    width: 90%;
  }

  header input.form-control#location {
    width: 80%;
    margin: auto;
  }

  header .btn {
    right: 12%;
  }
}

@media screen and (min-width: 768px) {
  .main-weather-div {
    padding: 48px;
  }

  .container {
    max-width: 720px;
  }

  .location-date {
    font-size: 16px;
  }

  .country-info {
    width: 100%;
    margin-top: 0px;
  }
}

@media screen and (min-width: 992px) {
  nav .navbar-nav {
    margin: auto;
  }

  header {
    background: url(../Assets/main-bg.png) no-repeat 50% 60% / cover;
    height: 100vh;
  }
  header .img-wrap {
    display: none;
  }

  header::after {
    content: "";
    position: absolute;
    background-color: #b1aef3;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -15%;
    z-index: 1;
  }

  h1 {
    text-align: left;
    margin-top: 3rem;
    margin-left: 3rem;
    width: 45%;
  }

  header input.form-control#location {
    width: 30%;
    margin-left: 3rem;
  }

  header .btn {
    right: 66%;
  }
}

@media screen and (min-width: 1200px) {
  #weather .weather-widget {
    margin-right: 3rem;
  }

  header input.form-control#location {
    width: 27%;
    margin-left: 3rem;
  }

  header .btn {
    right: 70.5%;
  }
}
