body {
  background-color: #e9e9e9;
  color: #6a6a6a;
  font-family: "Titillium Web", sans-serif;
}

#weather .weather-widget {
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 0px #cccbcb;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.location-date {
  color: #3e3e3e;
  font-family: "Istok Web", sans-serif;
}

.side-weather {
  background-color: #f7f7f7;
  border-left: 1px solid #e9e9e9;
  border-radius: 0px 25px 25px 0px;
  -webkit-border-radius: 0px 25px 25px 0px;
  -moz-border-radius: 0px 25px 25px 0px;
  -ms-border-radius: 0px 25px 25px 0px;
  -o-border-radius: 0px 25px 25px 0px;
}

.side-weather .next-day p:first-child {
  background-color: #6a6a6a;
  color: var(--white);
  border-radius: 0px 25px 0px 0px;
  -webkit-border-radius: 0px 25px 0px 0px;
  -moz-border-radius: 0px 25px 0px 0px;
  -ms-border-radius: 0px 25px 0px 0px;
  -o-border-radius: 0px 25px 0px 0px;
}

.side-weather .day-after-tommorow p:first-child {
  background-color: #6a6a6a;
  color: var(--white);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.btn {
  transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
}

#err-msg {
  font-size: 14px;
}

.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: #b1aef3;
}

nav {
  background-color: #ffffff;
  z-index: 999;
}

.nav-link {
  color: #b1aef3;
  border-bottom: 2px solid transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav-link i {
  opacity: 0;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #8886db;
}

.navbar-nav .nav-link:hover i,
.navbar-nav .nav-link.active i {
  opacity: 1;
}

nav .btn,
header .btn:hover,
header .btn:active {
  color: #8886db;
  border: 1px solid #8886db;
}

nav .btn:hover,
nav .btn:active,
header .btn {
  color: #ffffff;
  background-color: #8886db;
  border-color: #8886db;
}

header {
  background: url(../Assets/main-bg.png) no-repeat 50% 60% / cover;
}

header div {
  z-index: 2;
}

header::after {
  content: "";
  position: absolute;
  background-color: #b1aef3;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -15%;
  z-index: 1;
}

header .btn {
  right: 76%;
}

header input.form-control#location {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 0.25rem #ffffff;
  font-weight: 600;
  color: #3a356b;
}

header input.form-control#location:focus {
  border: 2px solid #8886db;
  box-shadow: 0 0 0 0.25rem #ffffff;
}

header input.form-control#location::placeholder {
  color: #9a9ab3;
}

#explore {
  background-color: #ffffff;
  background-image: url(../Assets/explore-bg.png);
}

#weather {
  background-image: url(../Assets/weather-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: cover;
}

:root {
  --white: #ffffff;
}
